:root {
    --jumbotron-padding-y: 4rem;
  }

  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
    background-image: url("https://images.unsplash.com/photo-1529701829612-6a1929adcfea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fa80f986bc1403692a5351fcf58ad35e&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }

  .jumbotron p:last-child {
    margin-bottom: 0;
  }

  .jumbotron-heading {
    font-weight: 300;
  }

  .jumbotron .container {
    max-width: 40rem;
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  footer p {
    margin-bottom: .25rem;
  }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
